<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315241048347-kl9r13ti4sl3dqr8skd9rn533ak1v7ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315241048347-kl9r13ti4sl3dqr8skd9rn533ak1v7ji</string>
	<key>API_KEY</key>
	<string>AIzaSyCzavxKghmh-bP1yidos54CcKsS5K27DaU</string>
	<key>GCM_SENDER_ID</key>
	<string>315241048347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.archit.chatApp</string>
	<key>PROJECT_ID</key>
	<string>quick-chat-f9c61</string>
	<key>STORAGE_BUCKET</key>
	<string>quick-chat-f9c61.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315241048347:ios:3137ac295d48849795cbbe</string>
</dict>
</plist>